<div class="container">
  <div class="card">
    <h2 class="card__title">
      {{titulo}}
    </h2>
    <div class="row row2">
      <!-- <input type="text" [(ngModel)]="libro.id" placeholder="Insert A Book" class="form_input"> -->
      <h2>Insert a your favorite Books</h2>
      <input type="text" [(ngModel)]="libro.titulo" placeholder="Insert A Book" class="form_input">

      <h2>Date</h2>
      <input type="date" [(ngModel)]="libro.fecha_obra" placeholder="Insert A Book" class="form_input">

      <h2>Summary</h2>
      <textarea name="" id="" cols="30" rows="10" [(ngModel)]="libro.resumen"></textarea>

      <h2>Choose the author of that book</h2>
      <select [(ngModel)]="libro.autor_id" class="form_select">
        <option *ngFor="let employee of employeeData" [value]="employee.id">{{employee.nombre}}</option>
      </select>
        <button (click)="create()" class="btn">Save book</button>
    </div>
  </div>

</div>
